{% extends "text.html" %}

{% block postTitle %}
	Thanks for signing up!
{% endblock %}

{% block postBody %}
<h3>A few things.</h3>
<ol>
	<li>We'll ship your kickass stack of sports nutrition within three days of your order</li>
	<li>Each subsequent pack will come on that same day of the month.</li>
	<li>We'll also send a free "aid station" later in the month with samples, discounts and exclusives.</li>
	<li>Want to earn FREE stacks? Invite friends and when they sign up for a 3-month subscription, you'll get a free month.</li>
</ol>
<h3 class="gray">WIN.</h3>
<p>The TriplePulse Team</p>
{% endblock %}

{% block postImage %}
{% endblock %}