<div class="footer">
	<div class="container">
		<a class="logo" href="/">TriplePulse</a>
		<ul class="nav primary">
			<li><a href="/stacks">Our Stacks</a></li>
			<li><a href="/pinboard#tips">Training Tips</a></li>
			<li><a href="/pinboard#results">Results</a></li>
			<li><a class="newsletter" href="#">Newsletter</a><li>
			<li><a class="login" href="#">Login</a></li>
		</ul>
		<ul class="nav secondary">
			<li><a href="/blog/">Blog</a></li>
			<li><a href="/mission">Team Mission</a></li>
			<li><a href="/faq">FAQ</a></li>
			<li><a href="/terms">Terms</a></li>
			<li><a href="/privacy">Privacy</a></li>
		</ul>
		<div class="nav tertiary">
			<div class="social">
				<a href="https://www.facebook.com/TriplePulse" class="fb">Facebook</a>
				<a href="http://metareddit.com/r/triathlon" class="reddit">Reddit</a>
				<a href="https://twitter.com/Triple_Pulse" class="twitter">Twitter</a>
				<a href="//pinterest.com/triplepulse" class="pinterest">Pinterest</a>
			</div>
			<a href="sms:+14242569133"><span class="textCEO">Something on you mind? Text the CEO at 424-256-9133</span></a>
		</div>
	</div>
</div>

<div class="modal hide fade login">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Welcome Back.</h3>
	<p>How's the training going? Get a win.</p>
  </div>
  <div class="modal-body">
	<!-- Note: Set the login action to a permanent location if it changes from wordpress default -->
	<form method="post" id="loginForm">
        <div class="loginErrors"></div>
	    <p><input type="text" name="username" placeholder="Username" /></p>
	    <p><input type="password" name="password" placeholder="Password" /></p>
		<p><input type="submit" value="Log In" class="btn btn-primary btn-large" /><p>
		<p class="fineprint"><a href="/signup">Need to create an account?</a></p>
	</form>
  </div>
</div>

<div class="modal hide fade newsletter">
  <div class="modal-header newsletterSignup">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Get access to exclusive deals and training tips from our pros. <span class="gray">Win</span>.</h3>
	<p>	Stay motivated and train smarter with our weekly newsletter (we never spam).  Dominate 2013.</p>
	<p><a href="#" class="btn btn-large fbNewsletter"><span class="fbIcon"></span>Sign up with Facebook</a></p>
	<div class="or">or</div>
  </div>
  <div class="modal-body newsletterSignup">
	<form method="post">
	    <p><input type="text" name="email" placeholder="Email" /></p>
		<p><input type="submit" value="Continue" class="btn btn-primary btn-large" /><p>
	</form>
  </div>
  <div class="modal-header newsletterConfirm hide">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Thanks. <span class="gray">Now go win</span>.</h3>
	<p>If you ever have any questions, ideas, challenges or just want to say hi, email us at <a href="mailto:dominate@triplepulse.com">dominate@triplepulse.com</a>.</p>
	<p>- The TriplePulse Team</p>
  </div>
  <div class="modal-body newsletterConfirm hide">
	<p><button type="button" class="btn btn-primary btn-large" data-dismiss="modal">Continue</button><p>
  </div>

</div>
{% csrf_token %}